@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="images/pizza-logo.png" alt="PizzaPH Logo" class="app-logo" />
            <h2 class="ml-2">PizzaPH</h2>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="app-footer">
            © 2025 <strong>Daniel John Idorot</strong> — Philippines
        </footer>
    </main>
</div>