@page "/"

<PageTitle>Home</PageTitle>

<h3>Connect Four</h3>

<Board @rendermode="InteractiveServer" BoardColor="System.Drawing.Color.Black" Player1Color="System.Drawing.Color.Green"
    Player2Color="System.Drawing.Color.Purple" />